# Default config for sway
#
# Copy this to ~/.config/sway/config and edit it to your liking.
#
# Read `man 5 sway` for a complete reference.

# styles - set the folder for your theme definition file
set $theme /usr/share/sway/themes/matcha-green

# theme variables
include $theme/definitions

# global variables
include /etc/sway/definitions

# user variables
include $HOME/.config/sway/definitions.d/*.conf

include /etc/sway/inputs/*
include /etc/sway/outputs/*

# enable modes
include /etc/sway/modes/*

# only enable this if every app you use is compatible with wayland
# xwayland disable

# include additional configs e.g. to autostart applications
include /etc/sway/config.d/*

# user config
include $HOME/.config/sway/config.d/*.conf


exec_always .scripts/dual.sh
# exec_always nm-applet --indicator

$unbindsym $mod+f
bindsym $mod+f exec ~/.config/sway/fullscreen.py
#bindsym $mod+z focus child
#bindsym $mod+Shift+f split v; focus parent; fullscreen toggle; focus child; move left



workspace 1 output DP-2
workspace 2 output DP-3
workspace 3 output DP-4
workspace 4 output DP-2
workspace 5 output DP-3
workspace 6 output DP-4
workspace 7 output DP-2
workspace 8 output DP-3
workspace 9 output DP-4


#assign [app_id="foot"] workspace number 2
#for_window [app_id="foot"] focus

$unbindsym $mod+d
set $menu rofi -show combi -combi-modi "combi,desk,github,filebrowser,drun" -modes "drun,run,github:~/.config/rofi/github.sh,desk:~/.config/rofi/desk.sh" -terminal $term -ssh-command "{terminal} {ssh-client} {host} [-p {port}]" -run-shell-command "{terminal} {cmd}" -show-icons -font "$gui-font" -lines 10 -width 35
$bindsym $mod+d exec $menu

# $unbindsym $mod+w
# $unbindsym $mod+e
# $unbindsym $mod+4
# $unbindsym $mod+5
# $unbindsym $mod+6
# $unbindsym $mod+Shift+q

# bindsym $mod+q workspace 4
# bindsym $mod+w workspace 5
# bindsym $mod+e workspace 6

#bindsym $mod+s layout stacking
#bindsym $mod+w layout tabbed
# bindsym $mod+4 layout toggle split

